In [1]:
import pandas as pd
import numpy as np
import pycountry

In [2]:
excel_file = pd.read_excel('Datos/drogas/1.2_-_Prevalence_of_drug_use_in_the_general_population_including_NPS_national_data.xlsx', sheet_name=None)

In [3]:
excel_file

{'Cannabis':                                               CANNABIS   Unnamed: 1
 0    Annual Prevalence of Use as a percentage of th...          NaN  \
 1                                               Region   Sub-region
 2                                               Africa  East Africa
 3                                                  NaN          NaN
 4                                                  NaN          NaN
 ..                                                 ...          ...
 383                                                NaN          NaN
 384                                                NaN          NaN
 385                                                NaN          NaN
 386                                                NaN    Melanesia
 387  Except where the prevalence values are taken f...          NaN

             Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7
 0                  NaN        NaN        NaN        NaN        NaN        NaN  \
 1    Country/Territory       Best        Low       High       Male     Female
 2                Kenya        1.2        NaN        NaN        2.1        0.3
 3                Kenya        2.1        0.3          4        NaN        NaN
 4                Kenya        7.1        NaN        NaN        NaN        NaN
 ..                 ...        ...        ...        ...        ...        ...
 383        New Zealand       14.6       13.4       15.7       18.2       11.3
 384        New Zealand       14.6        NaN        NaN        NaN        NaN
 385        New Zealand      13.25        NaN        NaN        NaN        NaN
 386               Fiji       5.08       3.04       7.12        NaN        NaN
 387                NaN        NaN        NaN        NaN        NaN        NaN

     Unnamed: 8 Unnamed: 9                   Unnamed: 10 Unnamed: 11
 0          NaN        NaN                           NaN         NaN  \
 1         Year        Age                        Source      Method
 2         2016      15-64                           ARQ         HHS
 3         2007      15-65                          Govt         HHS
 4         2004      15-64  ARQ, NGO, Council of Europe       SS, A
 ..         ...        ...                           ...         ...
 383       2008      16-64             Government source         HHS
 384       2007      16-64             Government source         HHS
 385       2006      15-64                          ARQ         HHS
 386       2004      15-64             Government source          SS
 387        NaN        NaN                           NaN         NaN

              Unnamed: 12                                      Unnamed: 13
 0                    NaN                                              NaN
 1    Adjustment/\n notes                                   Specific notes
 2                    NaN                                              NaN
 3                   b, e                                              NaN
 4            c, d, e, f                                               NaN
 ..                   ...                                              ...
 383                  NaN  2007/08 New Zealand Alcohol and Drug Use Survey
 384                  NaN                                              NaN
 385                   a                                               NaN
 386                 d, e                                              NaN
 387                  NaN                                              NaN

 [388 rows x 14 columns],
 'Cocaine':     COCAINE\n(includes cocaine salt, "crack" cocaine and other types such as coca paste, cocaine base, basuco, paco and merla)
 0    Annual Prevalence of Use as a percentage of th...                                                                          \
 1                                               Region
 2                                               Africa
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 310                                                NaN
 311                                                NaN
 312                                                NaN
 313                                                NaN
 314  Except where the prevalence values are taken f...

        Unnamed: 1         Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
 0             NaN                NaN        NaN        NaN        NaN  \
 1      Sub-region  Country/Territory       Best        Low       High
 2     East Africa              Kenya        0.1        NaN        NaN
 3             NaN              Kenya        0.3        0.2        0.4
 4    North Africa            Algeria       0.01        NaN        NaN
 ..            ...                ...        ...        ...        ...
 310           NaN          Australia        2.1        NaN        NaN
 311           NaN          Australia        1.9        NaN        NaN
 312           NaN        New Zealand        0.6        0.3        0.8
 313           NaN        New Zealand       0.76        NaN        NaN
 314           NaN                NaN        NaN        NaN        NaN

     Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9         Unnamed: 10
 0          NaN        NaN        NaN        NaN                 NaN  \
 1         Male     Female       Year        Age              Source
 2          0.2          0       2016      15-64                 ARQ
 3          NaN        NaN       2007      15-65   Government source
 4         0.02        NaN       2010        12+                 ARQ
 ..         ...        ...        ...        ...                 ...
 310        NaN        NaN       2010        14+                 ARQ
 311        NaN        NaN       2007      15-64  Government source
 312        0.9        0.3       2008      16-64   Government source
 313        NaN        NaN       2006      15-64                ARQ
 314        NaN        NaN        NaN        NaN                 NaN

     Unnamed: 11          Unnamed: 12     Unnamed: 13
 0           NaN                  NaN             NaN
 1        Method  Adjustment/\n notes  Specific notes
 2           HHS                  NaN           Crack
 3           HHS                 b, e             NaN
 4           HHS                  NaN             NaN
 ..          ...                  ...             ...
 310         HHS                  NaN             NaN
 311        HHS                   NaN             NaN
 312         HHS                  NaN   Cocaine/crack
 313        HHS                    a              NaN
 314         NaN                  NaN             NaN

 [315 rows x 14 columns],
 'Amphetamines':     AMPHETAMINES\n(includes both amphetamine and methamphetamine)
 0    Annual Prevalence of Use as a percentage of th...             \
 1                                               Region
 2                                               Africa
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 299                                                NaN
 300                                                NaN
 301                                                NaN
 302                                                NaN
 303  Except where the prevalence values are taken f...

           Unnamed: 1         Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
 0                NaN                NaN        NaN        NaN        NaN  \
 1         Sub-region  Country/Territory       Best        Low       High
 2       North Africa            Algeria       0.03        NaN        NaN
 3                NaN              Egypt       0.48       0.43       0.52
 4    Southern Africa       South Africa       1.02       0.75       1.37
 ..               ...                ...        ...        ...        ...
 299              NaN        New Zealand        1.1        NaN        NaN
 300              NaN        New Zealand        1.1        0.8        1.4
 301              NaN        New Zealand        2.1        NaN        NaN
 302              NaN        New Zealand        2.3        NaN        NaN
 303              NaN                NaN        NaN        NaN        NaN

     Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9              Unnamed: 10
 0          NaN        NaN        NaN        NaN                      NaN  \
 1         Male     Female       Year        Age                   Source
 2         0.06       0.01       2010        12+                      ARQ
 3          NaN        NaN       2006      15-64  Govt; Academic Research
 4          NaN        NaN       2008      15-64                      ARQ
 ..         ...        ...        ...        ...                      ...
 299        NaN        NaN       2016      16-64                      ARQ
 300        1.5        0.7       2014      15-64        Government source
 301        NaN        NaN       2007      16-64        Government source
 302        NaN        NaN       2006      15-64                     ARQ
 303        NaN        NaN        NaN        NaN                      NaN

     Unnamed: 11          Unnamed: 12                        Unnamed: 13
 0           NaN                  NaN                                NaN
 1        Method  Adjustment/\n notes                     Specific notes
 2          HHS                   NaN                                NaN
 3       HHS, SS              a, b, d                                NaN
 4           HHS                 a, e                                NaN
 ..          ...                  ...                                ...
 299         HHS                  NaN            Data refers to 2015-16.
 300         HHS                  NaN  2013/14 New Zealand Health Survey
 301         HHS                  NaN                                NaN
 302        HHS                    a                                 NaN
 303         NaN                  NaN                                NaN

 [304 rows x 14 columns],
 'Ecstasy':                              "ECSTASY"-TYPE SUBSTANCES       Unnamed: 1
 0    Annual Prevalence of Use as a percentage of th...              NaN  \
 1                                               Region       Sub-region
 2                                               Africa      East Africa
 3                                                  NaN     North Africa
 4                                                  NaN  Southern Africa
 ..                                                 ...              ...
 309                                                NaN              NaN
 310                                                NaN              NaN
 311                                                NaN              NaN
 312                                                NaN              NaN
 313  Except where the prevalence values are taken f...              NaN

             Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7
 0                  NaN        NaN        NaN        NaN        NaN        NaN  \
 1    Country/Territory       Best        Low       High       Male     Female
 2                Kenya       0.25        0.2        0.3        NaN        NaN
 3              Algeria       0.02        NaN        NaN       0.02       0.01
 4         South Africa       0.31       0.24       0.38        NaN        NaN
 ..                 ...        ...        ...        ...        ...        ...
 309        New Zealand          2        1.7        2.4        2.7        1.5
 310        New Zealand        2.6          2        3.1        3.6        1.5
 311        New Zealand        2.6        NaN        NaN        NaN        NaN
 312        New Zealand        2.6        NaN        NaN        NaN        NaN
 313                NaN        NaN        NaN        NaN        NaN        NaN

     Unnamed: 8 Unnamed: 9        Unnamed: 10 Unnamed: 11          Unnamed: 12
 0          NaN        NaN                NaN         NaN                  NaN  \
 1         Year        Age             Source      Method  Adjustment/\n notes
 2         2007      15-65  Government source         HHS                 b, e
 3         2010        12+                ARQ         HHS                  NaN
 4         2011      15-64                ARQ          SS              b, d, e
 ..         ...        ...                ...         ...                  ...
 309       2013        15+  Government source         HHS                  NaN
 310       2008      16-64  Government source         HHS                  NaN
 311       2007      16-64  Government source         HHS                  NaN
 312       2006      15-64               ARQ         HHS                 a, z
 313        NaN        NaN                NaN         NaN                  NaN

                                          Unnamed: 13
 0                                                NaN
 1                                     Specific notes
 2                                                NaN
 3                                                NaN
 4                                                NaN
 ..                                               ...
 309   2012/13 New Zealand Health Survey: Drug Module
 310  2007/08 New Zealand Alcohol and Drug Use Survey
 311                                              NaN
 312                                              NaN
 313                                              NaN

 [314 rows x 14 columns],
 'Prescription Stimulants':                               PRESCRIPTION STIMULANTS
 0   Annual Prevalence of Use as a percentage of th...  \
 1                                              Region
 2                                              Africa
 3                                            Americas
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                                NaN
 29                                                NaN
 30                                                NaN
 31                                                NaN
 32                                                NaN
 33                                                NaN
 34                                                NaN
 35                                                NaN
 36                                                NaN
 37                                                NaN
 38                                                NaN
 39                                                NaN
 40                                                NaN
 41                                                NaN
 42                                                NaN
 43                                               Asia
 44                                                NaN
 45                                            Oceania
 46  Except where the prevalence values are taken f...

                               Unnamed: 1                          Unnamed: 2
 0                                    NaN                                 NaN  \
 1                             Sub-region                   Country/Territory
 2                West and Central Africa                             Nigeria
 3                        Central America                          Costa Rica
 4                                    NaN                          Costa Rica
 5                                    NaN                          Costa Rica
 6                                    NaN                         El Salvador
 7                                    NaN                              Panama
 8                          North America                              Canada
 9                                    NaN                              Canada
 10                                   NaN                              Canada
 11                                   NaN                              Canada
 12                                   NaN            United States of America
 13                                   NaN            United States of America
 14                                   NaN            United States of America
 15                                   NaN            United States of America
 16                                   NaN            United States of America
 17                                   NaN            United States of America
 18                                   NaN            United States of America
 19                                   NaN            United States of America
 20                         South America                           Argentina
 21                                   NaN                           Argentina
 22                                   NaN                           Argentina
 23                                   NaN    Bolivia (Plurinational State of)
 24                                   NaN    Bolivia (Plurinational State of)
 25                                   NaN    Bolivia (Plurinational State of)
 26                                   NaN                              Brazil
 27                                   NaN                               Chile
 28                                   NaN                               Chile
 29                                   NaN                               Chile
 30                                   NaN                               Chile
 31                                   NaN                               Chile
 32                                   NaN                               Chile
 33                                   NaN                            Colombia
 34                                   NaN                            Colombia
 35                                   NaN                            Colombia
 36                                   NaN                             Ecuador
 37                                   NaN                                Peru
 38                                   NaN                                Peru
 39                                   NaN                             Uruguay
 40                                   NaN                             Uruguay
 41                                   NaN                             Uruguay
 42                                   NaN  Venezuela (Bolivarian Republic of)
 43  Near and Middle East/South-West Asia                            Pakistan
 44                            South Asia                           Sri Lanka
 45             Australia and New Zealand                         New Zealand

In [4]:
type(excel_file)

dict

In [5]:
excel_file.keys()

dict_keys(['Cannabis', 'Cocaine', 'Amphetamines', 'Ecstasy', 'Prescription Stimulants', 'Opioids', 'Opiates', 'Prescription opioids', 'Tranquillizers and sedatives', 'NPS'])

In [6]:
df_drogas = pd.DataFrame()
for i in list(excel_file.keys()):
    if i =='NPS':
        #col1 = excel_file_canabis.iloc[[1],0:5].values.tolist()[0]
        #col2 = excel_file_canabis.iloc[[2],5:14].values.tolist()[0]
        #col3 = excel_file_canabis.iloc[[1],14:17].values.tolist()[0]
        #col_def = col1 + col2 + col3
        
        #excel_file_canabis.columns = col_def
        #excel_file_canabis.drop(2, axis = 0, inplace = True)
        #display(excel_file_canabis["Female"])
        #display(excel_file_canabis["Female"].sum())
        pass
        
    else:
        excel_file_total = pd.read_excel('Datos/drogas/1.2_-_Prevalence_of_drug_use_in_the_general_population_including_NPS_national_data.xlsx', sheet_name=i)

        # Tomar la fila 1 como títulos de las columnas
        excel_file_total.columns = excel_file_total.iloc[1]
        # Eliminar la fila 0 y 1
        excel_file_total = excel_file_total.drop([0,1])
        # Reiniciar el índice
        excel_file_total = excel_file_total.reset_index(drop=True)
        # Eliminar las columnas "Adjustment/notes" y "Specific notes"
        try:
            excel_file_total = excel_file_total.drop(columns=['Specific notes','Adjustment/\n notes'])
        except:
            try:
                excel_file_total = excel_file_total.drop(columns=['Specific notes'], axis = 1)
            except:
                #display(excel_file_canabis)
                pass

        excel_file_total['Drug']=i

        if "Best" in excel_file_total.columns:
            indice = excel_file_total.columns.tolist().index("Best")
            columnas = excel_file_total.columns.tolist()
            columnas[indice] = "Total"
            excel_file_total.columns = columnas
        
        if "Low" in excel_file_total.columns:
            nuevo_orden = ['Region', 'Sub-region', 	'Country/Territory',	'Total', 	'Male', 	'Female', 'Year', 	'Age', 'Source',	'Method', 	'Drug', 'Low',	'High']
            excel_file_total = excel_file_total.reindex(columns=nuevo_orden)

        df_drogas = pd.concat([df_drogas, excel_file_total], axis = 0)
        display(excel_file_total.head())

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High
0,Africa,East Africa,Kenya,1.2,2.1,0.3,2016,15-64,ARQ,HHS,Cannabis,NaN,NaN
1,NaN,NaN,Kenya,2.1,NaN,NaN,2007,15-65,Govt,HHS,Cannabis,0.3,4
2,NaN,NaN,Kenya,7.1,NaN,NaN,2004,15-64,"ARQ, NGO, Council of Europe","SS, A",Cannabis,NaN,NaN
3,NaN,NaN,Madagascar,9.1,NaN,NaN,2004,15-64,ARQ,"SS, A",Cannabis,NaN,NaN
4,NaN,NaN,Mauritius,1.08,NaN,NaN,2009,15-54,Government source,NaN,Cannabis,NaN,NaN

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High
0,Africa,East Africa,Kenya,0.1,0.2,0,2016,15-64,ARQ,HHS,Cocaine,NaN,NaN
1,NaN,NaN,Kenya,0.3,NaN,NaN,2007,15-65,Government source,HHS,Cocaine,0.2,0.4
2,NaN,North Africa,Algeria,0.01,0.02,NaN,2010,12+,ARQ,HHS,Cocaine,NaN,NaN
3,NaN,NaN,Egypt,0.35,NaN,NaN,2016,15-64,MedSPAD/UNODC Estimate,SS,Cocaine,NaN,NaN
4,NaN,NaN,Egypt,0.02,NaN,NaN,2006,15-64,Government source; Academic Research,"HHS, SS",Cocaine,NaN,NaN

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High
0,Africa,North Africa,Algeria,0.03,0.06,0.01,2010,12+,ARQ,HHS,Amphetamines,NaN,NaN
1,NaN,NaN,Egypt,0.48,NaN,NaN,2006,15-64,Govt; Academic Research,"HHS, SS",Amphetamines,0.43,0.52
2,NaN,Southern Africa,South Africa,1.02,NaN,NaN,2008,15-64,ARQ,HHS,Amphetamines,0.75,1.37
3,NaN,NaN,Zambia,0.1,NaN,NaN,2003,15-64,UNODC Estimate,NaN,Amphetamines,NaN,NaN
4,NaN,West and Central Africa,Côte d'Ivoire,0.61,NaN,NaN,2017,15-64,UNODC Estimate,SS,Amphetamines,0.31,0.9

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High
0,Africa,East Africa,Kenya,0.25,NaN,NaN,2007,15-65,Government source,HHS,Ecstasy,0.2,0.3
1,NaN,North Africa,Algeria,0.02,0.02,0.01,2010,12+,ARQ,HHS,Ecstasy,NaN,NaN
2,NaN,Southern Africa,South Africa,0.31,NaN,NaN,2011,15-64,ARQ,SS,Ecstasy,0.24,0.38
3,NaN,NaN,South Africa,0.4,NaN,NaN,2004,15-64,UNODC Estimate,NaN,Ecstasy,NaN,NaN
4,NaN,NaN,Zambia,0.3,NaN,NaN,2003,15-64,UNODC Estimate,NaN,Ecstasy,NaN,NaN

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High
0,Africa,West and Central Africa,Nigeria,0.156,NaN,NaN,2017,15-64,Government/UNODC,HHS/I,Prescription Stimulants,0,0.477
1,Americas,Central America,Costa Rica,1.71,1.8,1.62,2015,12-64,OAS,HHS,Prescription Stimulants,NaN,NaN
2,NaN,NaN,Costa Rica,1.1,1.3,0.9,2010,15-64,ARQ,HHS,Prescription Stimulants,NaN,NaN
3,NaN,NaN,Costa Rica,1.3,NaN,NaN,2006,12-70,ARQ,NaN,Prescription Stimulants,NaN,NaN
4,NaN,NaN,El Salvador,0.36,0.54,0.23,2014,12-65,Government source,HHS,Prescription Stimulants,0.24,0.54

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High
0,Africa,East Africa,Mauritius,1.29,NaN,NaN,2009,15-64,Government source,I,Opioids,NaN,NaN
1,NaN,Southern Africa,South Africa,0.5,NaN,NaN,2008,15-64,ARQ,HHS,Opioids,NaN,NaN
2,NaN,West and Central Africa,Democratic Republic of the Congo,0.17,NaN,NaN,2004,15-64,Cure Research estimate,NaN,Opioids,NaN,NaN
3,NaN,NaN,Nigeria,4.66,NaN,NaN,2017,15-64,Government/UNODC,HHS/I,Opioids,4.27,5.05
4,Americas,Caribbean,Barbados,0.23,NaN,NaN,2006,15-64,UNODC Estimate,NaN,Opioids,0.16,0.29

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High
0,Africa,East Africa,Kenya,0.22,NaN,NaN,2012,15-64,Government report,I,Opiates,NaN,NaN
1,NaN,NaN,Kenya,0.73,NaN,NaN,2004,15-64,Reference Group to the UN on HIV and IDU,I,Opiates,NaN,NaN
2,NaN,NaN,Mauritius,0.778575,NaN,NaN,2017,15-64,ARQ/UNODC Estimates,I,Opiates,NaN,NaN
3,NaN,NaN,Mauritius,0.91,NaN,NaN,2007,15-54,ARQ,I,Opiates,NaN,NaN
4,NaN,NaN,Rwanda,0.14,NaN,NaN,2004,15-64,Cure Research estimate,NaN,Opiates,NaN,NaN

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High
0,Africa,East Africa,Mauritius,1.04,NaN,NaN,2007,15-54,ARQ,I,Prescription opioids,NaN,NaN
1,NaN,North Africa,Tunisia,0.13,NaN,NaN,2013,15-64,ARQ,HHS,Prescription opioids,NaN,NaN
2,NaN,Southern Africa,South Africa,0.09,NaN,NaN,2008,15-64,ARQ,HHS,Prescription opioids,NaN,NaN
3,NaN,West and Central Africa,Nigeria,4.66,6,3.3,2017,15-64,Government/UNODC,HHS/I,Prescription opioids,4.21,5.11
4,NaN,NaN,Egypt,3,NaN,NaN,2016,15-64,Government source,HHS,Prescription opioids,NaN,NaN

1,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug
0,Africa,East Africa,Kenya,0,0,0,2016,15-64,ARQ,HHS,Tranquillizers and sedatives
1,NaN,North Africa,Algeria,0.59,0.54,0.63,2010,12+,ARQ,HHS,Tranquillizers and sedatives
2,NaN,NaN,Morocco,0.18,NaN,NaN,2004,15+,ARQ/Government,HHS,Tranquillizers and sedatives
3,NaN,NaN,Tunisia,0.52,NaN,NaN,2013,15-64,ARQ,HHS,Tranquillizers and sedatives
4,NaN,West and Central Africa,Nigeria,0.487,NaN,NaN,2017,15-64,Government/UNODC,HHS/I,Tranquillizers and sedatives

In [7]:
df_drogas = df_drogas[df_drogas["Region"].isin(['Africa', np.nan, 'Americas', 'Asia', 'Europe', 'Oceania'])]

In [8]:
df_drogas['Sub-region'].fillna(method='ffill', inplace=True)
df_drogas

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High
0,Africa,East Africa,Kenya,1.2,2.1,0.3,2016,15-64,ARQ,HHS,Cannabis,NaN,NaN
1,NaN,East Africa,Kenya,2.1,NaN,NaN,2007,15-65,Govt,HHS,Cannabis,0.3,4
2,NaN,East Africa,Kenya,7.1,NaN,NaN,2004,15-64,"ARQ, NGO, Council of Europe","SS, A",Cannabis,NaN,NaN
3,NaN,East Africa,Madagascar,9.1,NaN,NaN,2004,15-64,ARQ,"SS, A",Cannabis,NaN,NaN
4,NaN,East Africa,Mauritius,1.08,NaN,NaN,2009,15-54,Government source,NaN,Cannabis,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Oceania,Australia and New Zealand,Australia,1.8,NaN,NaN,2019,14+,ARQ,HHS,Tranquillizers and sedatives,NaN,NaN
148,NaN,Australia and New Zealand,Australia,1.6,NaN,NaN,2016,14+,ARQ,HHS,Tranquillizers and sedatives,NaN,NaN
149,NaN,Australia and New Zealand,Australia,1.6,1.8,1.5,2014,14+,Government source,HHS,Tranquillizers and sedatives,NaN,NaN
150,NaN,Australia and New Zealand,Australia,1.5,1.4,1.5,2010,14+,ARQ,HHS,Tranquillizers and sedatives,NaN,NaN
151,NaN,Australia and New Zealand,New Zealand,1.7,2.4,1.1,2008,16-64,Government source,HHS,Tranquillizers and sedatives,NaN,NaN

In [9]:
df_drogas['Drug'].unique()

array(['Cannabis', 'Cocaine', 'Amphetamines', 'Ecstasy',
       'Prescription Stimulants', 'Opioids', 'Opiates',
       'Prescription opioids', 'Tranquillizers and sedatives'],
      dtype=object)

In [10]:
df_drogas['Region'].fillna(method='ffill', inplace=True)
df_drogas

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High
0,Africa,East Africa,Kenya,1.2,2.1,0.3,2016,15-64,ARQ,HHS,Cannabis,NaN,NaN
1,Africa,East Africa,Kenya,2.1,NaN,NaN,2007,15-65,Govt,HHS,Cannabis,0.3,4
2,Africa,East Africa,Kenya,7.1,NaN,NaN,2004,15-64,"ARQ, NGO, Council of Europe","SS, A",Cannabis,NaN,NaN
3,Africa,East Africa,Madagascar,9.1,NaN,NaN,2004,15-64,ARQ,"SS, A",Cannabis,NaN,NaN
4,Africa,East Africa,Mauritius,1.08,NaN,NaN,2009,15-54,Government source,NaN,Cannabis,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Oceania,Australia and New Zealand,Australia,1.8,NaN,NaN,2019,14+,ARQ,HHS,Tranquillizers and sedatives,NaN,NaN
148,Oceania,Australia and New Zealand,Australia,1.6,NaN,NaN,2016,14+,ARQ,HHS,Tranquillizers and sedatives,NaN,NaN
149,Oceania,Australia and New Zealand,Australia,1.6,1.8,1.5,2014,14+,Government source,HHS,Tranquillizers and sedatives,NaN,NaN
150,Oceania,Australia and New Zealand,Australia,1.5,1.4,1.5,2010,14+,ARQ,HHS,Tranquillizers and sedatives,NaN,NaN
151,Oceania,Australia and New Zealand,New Zealand,1.7,2.4,1.1,2008,16-64,Government source,HHS,Tranquillizers and sedatives,NaN,NaN

In [11]:
df_drogas.isnull().sum()/df_drogas.shape[0]*100

Region                0.000000
Sub-region            0.000000
Country/Territory     0.000000
Total                 0.150830
Male                 54.901961
Female               55.404726
Year                  0.000000
Age                   0.301659
Source                0.050277
Method               10.507793
Drug                  0.000000
Low                  76.671694
High                 76.671694
dtype: float64

In [12]:
num_rows_all_null = (df_drogas.isnull().all(axis=1)).sum()
num_rows_all_null

0

In [13]:
def get_iso3(country_name):
    try:
        country = pycountry.countries.get(name=country_name)
        return country.alpha_3
    except:
        return None

In [14]:
df_drogas['ISO3'] = df_drogas['Country/Territory'].apply(get_iso3)

In [15]:
df_drogas.isnull().sum()

Region                  0
Sub-region              0
Country/Territory       0
Total                   3
Male                 1092
Female               1102
Year                    0
Age                     6
Source                  1
Method                209
Drug                    0
Low                  1525
High                 1525
ISO3                  261
dtype: int64

In [16]:
null_iso3 = df_drogas.loc[pd.isnull(df_drogas['ISO3']), 'Country/Territory'].unique()
print(null_iso3)

['Nigeria ' 'United States of America' 'Bolivia (Plurinational State of)'
 'Venezuela (Bolivarian Republic of)' 'China, Taiwan Province of China'
 'Republic of Korea' 'Iran (Islamic Republic of)' 'Republic of Moldova'
 'Kosovo under UNSCR 1244' 'Türkiye' 'United Kingdom (England and Wales)'
 'United Kingdom (Northern Ireland)' 'United Kingdom (Scotland)'
 'Democratic Republic of the Congo' 'United States of America ']

In [17]:
iso3_dict = {}

for pais in null_iso3:
    try:
        codigo = pycountry.countries.search_fuzzy(pais)[0].alpha_3
        iso3_dict[pais] = codigo
    except LookupError:
        print(f"No se encontró el código ISO3 para {pais}")

print(iso3_dict)

No se encontró el código ISO3 para Bolivia (Plurinational State of)
No se encontró el código ISO3 para Venezuela (Bolivarian Republic of)
No se encontró el código ISO3 para China, Taiwan Province of China
No se encontró el código ISO3 para Iran (Islamic Republic of)
No se encontró el código ISO3 para Kosovo under UNSCR 1244
No se encontró el código ISO3 para Türkiye
No se encontró el código ISO3 para United Kingdom (England and Wales)
No se encontró el código ISO3 para United Kingdom (Northern Ireland)
No se encontró el código ISO3 para United Kingdom (Scotland)
No se encontró el código ISO3 para Democratic Republic of the Congo
{'Nigeria ': 'NGA', 'United States of America': 'USA', 'Republic of Korea': 'PRK', 'Republic of Moldova': 'MDA', 'United States of America ': 'USA'}

In [18]:
iso3_manual = {
    'Bolivia (Plurinational State of)': 'BOL',
    'Venezuela (Bolivarian Republic of)': 'VEN',
    'China, Taiwan Province of China': 'TWN',
    'Iran (Islamic Republic of)': 'IRN',
    'Kosovo under UNSCR 1244': 'XKX',
    'Türkiye': 'TUR',
    'United Kingdom (England and Wales)': 'GBR',
    'United Kingdom (Northern Ireland)': 'GBR',
    'United Kingdom (Scotland)': 'GBR',
    'Democratic Republic of the Congo': 'COD'}

In [19]:
iso3 = iso3_dict.copy()
iso3.update(iso3_manual)

In [20]:
iso3

{'Nigeria ': 'NGA',
 'United States of America': 'USA',
 'Republic of Korea': 'PRK',
 'Republic of Moldova': 'MDA',
 'United States of America ': 'USA',
 'Bolivia (Plurinational State of)': 'BOL',
 'Venezuela (Bolivarian Republic of)': 'VEN',
 'China, Taiwan Province of China': 'TWN',
 'Iran (Islamic Republic of)': 'IRN',
 'Kosovo under UNSCR 1244': 'XKX',
 'Türkiye': 'TUR',
 'United Kingdom (England and Wales)': 'GBR',
 'United Kingdom (Northern Ireland)': 'GBR',
 'United Kingdom (Scotland)': 'GBR',
 'Democratic Republic of the Congo': 'COD'}

In [21]:
df_drogas['ISO3'] = df_drogas['ISO3'].fillna(df_drogas['Country/Territory'].map(iso3))

In [22]:
df_drogas.isnull().sum()

Region                  0
Sub-region              0
Country/Territory       0
Total                   3
Male                 1092
Female               1102
Year                    0
Age                     6
Source                  1
Method                209
Drug                    0
Low                  1525
High                 1525
ISO3                    0
dtype: int64

In [23]:
df_drogas.to_csv('Datos/Finales/prevalence_drug_use.csv')

In [24]:
df_drogas[df_drogas['Year']==2001]['Country/Territory'].unique

<bound method Series.unique of 41                Jamaica
162               Lebanon
114               Lebanon
5      Dominican Republic
38     Dominican Republic
41                Jamaica
212               Ireland
6                 Jamaica
65               Pakistan
Name: Country/Territory, dtype: object>

In [25]:
df_drogas[df_drogas['Country/Territory']=='Nigeria']['Drug'].unique

<bound method Series.unique of 24                        Cannabis
13                         Cocaine
14                         Cocaine
5                     Amphetamines
6                     Amphetamines
7                     Amphetamines
6                          Ecstasy
0          Prescription Stimulants
3                          Opioids
31                         Opiates
32                         Opiates
3             Prescription opioids
4     Tranquillizers and sedatives
Name: Drug, dtype: object>

In [26]:
pd.set_option('display.max_rows', None)
usa=df_drogas[df_drogas['Country/Territory'] == 'United States of America']
usa.head()

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High,ISO3
74,Americas,North America,United States of America,21.9,23.8,20.1,2020,15-64,ARQ,HHS,Cannabis,NaN,NaN,USA
75,Americas,North America,United States of America,19.4,22.2,16.8,2018,15-64,ARQ,HHS,Cannabis,NaN,NaN,USA
76,Americas,North America,United States of America,18.4,21.4,15.5,2017,15-64,ARQ,HHS,Cannabis,NaN,NaN,USA
77,Americas,North America,United States of America,17,19.9,14.1,2016,15-64,ARQ,HHS,Cannabis,NaN,NaN,USA
78,Americas,North America,United States of America,16.5,19.4,13.6,2015,15-64,ARQ,HHS,Cannabis,NaN,NaN,USA

In [27]:
df_drogas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1989 entries, 0 to 151
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Region             1989 non-null   object
 1   Sub-region         1989 non-null   object
 2   Country/Territory  1989 non-null   object
 3   Total              1986 non-null   object
 4   Male               897 non-null    object
 5   Female             887 non-null    object
 6   Year               1989 non-null   object
 7   Age                1983 non-null   object
 8   Source             1988 non-null   object
 9   Method             1780 non-null   object
 10  Drug               1989 non-null   object
 11  Low                464 non-null    object
 12  High               464 non-null    object
 13  ISO3               1989 non-null   object
dtypes: object(14)
memory usage: 233.1+ KB

In [28]:
def convert_columns_to_float(df, cols_to_convert, num_decimals):
    for col in cols_to_convert:
        df[col] = df[col].apply(lambda x: round(pd.to_numeric(x, errors='coerce') * 10**num_decimals, 0) / 10**num_decimals if not np.isnan(x) else x)

In [29]:
cols_to_convert = ['Total', 'Female', 'Male', 'Year', 'Low', 'High']
num_decimals = 2

convert_columns_to_float(df_drogas, cols_to_convert, num_decimals)

In [30]:
df_drogas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1989 entries, 0 to 151
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Region             1989 non-null   object
 1   Sub-region         1989 non-null   object
 2   Country/Territory  1989 non-null   object
 3   Total              1986 non-null   float64
 4   Male               897 non-null    float64
 5   Female             887 non-null    float64
 6   Year               1989 non-null   float64
 7   Age                1983 non-null   object
 8   Source             1988 non-null   object
 9   Method             1780 non-null   object
 10  Drug               1989 non-null   object
 11  Low                464 non-null    float64
 12  High               464 non-null    float64
 13  ISO3               1989 non-null   object
dtypes: float64(6), object(8)
memory usage: 233.1+ KB

In [31]:
df_drogas["Country/Territory"]= df_drogas["Country/Territory"].str.strip()

In [32]:
drugs_gruped=df_drogas.groupby(['Year','Country/Territory'], as_index=False)['Total'].sum()
drugs_gruped.head()

     Year   Country/Territory  Total
0  1998.0              Greece   0.30
1  1999.0          Luxembourg   0.40
2  1999.0             Nigeria   1.05
3  1999.0     North Macedonia   0.10
4  2000.0  Dominican Republic   0.16

In [33]:
drugs_gruped['Year'] = pd.to_datetime(drugs_gruped['Year'], format='%Y')

In [34]:
drugs_gruped.to_csv('Datos/Finales/totales_prevalencia_drogas.csv')

In [35]:
"""drugs_gruped=df_drogas.groupby(['Year', 'ISO3'], as_index=False)['Total'].sum()
drugs_gruped.head()"""

"drugs_gruped=df_drogas.groupby(['Year', 'ISO3'], as_index=False)['Total'].sum()\ndrugs_gruped.head()"

In [36]:
"""drugs_gruped.isnull().sum()"""

'drugs_gruped.isnull().sum()'

In [37]:
drugs_gruped[drugs_gruped['Country/Territory'] == 'New Zealand']

          Year Country/Territory  Total
138 2006-01-01       New Zealand  19.75
182 2007-01-01       New Zealand  19.30
219 2008-01-01       New Zealand  22.20
381 2013-01-01       New Zealand  13.00
414 2014-01-01       New Zealand   1.10
484 2016-01-01       New Zealand  14.83
522 2017-01-01       New Zealand  15.03
554 2018-01-01       New Zealand  12.70
586 2019-01-01       New Zealand  15.00
602 2020-01-01       New Zealand  16.00

In [38]:
df_drogas['Drug'].unique()

array(['Cannabis', 'Cocaine', 'Amphetamines', 'Ecstasy',
       'Prescription Stimulants', 'Opioids', 'Opiates',
       'Prescription opioids', 'Tranquillizers and sedatives'],
      dtype=object)

In [39]:
stimulant=['Cocaine', 'Amphetamines', 'Ecstasy',
       'Prescription Stimulants']
depressant=['Cannabis','Opioids', 'Opiates',
       'Prescription opioids', 'Tranquillizers and sedatives']

In [40]:
df_drogas['stimulant'] = df_drogas.apply(lambda row: row['Total'] if row['Drug'] in stimulant else '', axis=1)
df_drogas['depressant'] = df_drogas.apply(lambda row: row['Total'] if row['Drug'] in depressant else '', axis=1)
df_drogas.head()

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High,ISO3,stimulant,depressant
0,Africa,East Africa,Kenya,1.20,2.1,0.3,2016.0,15-64,ARQ,HHS,Cannabis,NaN,NaN,KEN,,1.2
1,Africa,East Africa,Kenya,2.10,NaN,NaN,2007.0,15-65,Govt,HHS,Cannabis,0.3,4.0,KEN,,2.1
2,Africa,East Africa,Kenya,7.10,NaN,NaN,2004.0,15-64,"ARQ, NGO, Council of Europe","SS, A",Cannabis,NaN,NaN,KEN,,7.1
3,Africa,East Africa,Madagascar,9.10,NaN,NaN,2004.0,15-64,ARQ,"SS, A",Cannabis,NaN,NaN,MDG,,9.1
4,Africa,East Africa,Mauritius,1.08,NaN,NaN,2009.0,15-54,Government source,NaN,Cannabis,NaN,NaN,MUS,,1.08

In [52]:
mapa = {'Africa': ['DZA', 'AGO', 'BDI', 'BEN', 'BWA', 'BFA', 'BIH', 'CPV', 'CMR', 'CAF', 'TCD', 'COM', 'COG', 'CIV', 'DJI', 'EGY', 'GNQ', 'ERI', 'SWZ', 'ETH', 'GAB', 'GMB', 'GHA', 'GIN', 'GNB', 'KEN', 'LSO', 'LBR', 'LBY', 'MDG', 'MWI', 'MLI', 'MRT', 'MUS', 'MYT', 'MAR', 'MOZ', 'NAM', 'NER', 'NGA', 'RWA', 'STP', 'SEN', 'SYC', 'SLE', 'SOM', 'ZAF', 'SSD', 'SDN', 'TZA', 'TGO', 'TUN', 'UGA', 'COD', 'ZMB', 'ZWE'],
'America':['ATG', 'ARG', 'ABW', 'BHS', 'BRB', 'BLZ', 'BMU', 'BOL', 'BRA', 'VGB', 'CAN', 'CYM', 'CHL', 'COL', 'CRI', 'CUB', 'CUW', 'DMA', 'DOM', 'ECU', 'SLV', 'FLK', 'GUF', 'GRD', 'GLP', 'GTM', 'HTI', 'HND', 'JAM', 'MTQ', 'MEX', 'MSR', 'NIC', 'PAN', 'PRY', 'PER', 'PRI', 'KNA', 'LCA', 'SPM', 'VCT', 'SUR', 'TTO', 'TCA', 'USA', 'URY', 'VEN', 'VIR'],
'Asia': ['AFG', 'ARM', 'AZE', 'BHR', 'BGD', 'BTN', 'BRN', 'KHM', 'CHN', 'CXR', 'CCK', 'IOT', 'GEO', 'HKG', 'IND', 'IDN', 'IRN', 'IRQ', 'ISR', 'JPN', 'JOR', 'KAZ', 'KWT', 'KGZ', 'LAO', 'LBN', 'MAC', 'MYS', 'MDV', 'MNG', 'MMR', 'NPL', 'PRK', 'OMN', 'PAK', 'PSE', 'PHL', 'QAT', 'SAU', 'SGP', 'KOR', 'LKA', 'SYR', 'TWN', 'TJK', 'THA', 'TLS', 'TUR', 'TKM', 'ARE', 'UZB', 'VNM', 'YEM'],
'Europe': ['ALB', 'AND', 'AUT', 'BLR', 'BEL', 'BIH', 'BGR', 'HRV', 'CYP', 'CZE', 'DNK', 'EST', 'FRO', 'FIN', 'FRA', 'DEU', 'GIB', 'GRC', 'GRL', 'VAT', 'HUN', 'ISL', 'IRL', 'ITA', 'LVA', 'LIE', 'LTU', 'LUX', 'MLT', 'MDA', 'MCO', 'MNE', 'NLD', 'MKD', 'NOR', 'POL', 'PRT', 'ROU', 'RUS', 'SMR', 'SRB', 'SVK', 'SVN', 'ESP', 'SWE', 'CHE', 'UKR', 'GBR'],
'Oceania':['ASM', 'AUS', 'COK', 'FJI', 'PYF', 'GUM', 'KIR', 'MHL', 'FSM', 'NRU', 'NCL', 'NZL', 'NIU', 'NFK', 'MNP', 'PLW', 'PNG', 'PCN', 'WSM', 'SLB', 'TKL', 'TON', 'TUV', 'VUT', 'WLF'],
'Antarctica': ['ATA']}

In [53]:
def sacar_continente (diccionario, columna):
    for k, v in diccionario.items():
        if columna in v:
            return k

In [54]:
df_drogas["Continent"] = df_drogas.apply(lambda x: sacar_continente(mapa, x["ISO3"]), axis = 1)

In [56]:
df_drogas.head()

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High,ISO3,stimulant,depressant,Continent
0,Africa,East Africa,Kenya,1.20,2.1,0.3,2016.0,15-64,ARQ,HHS,Cannabis,NaN,NaN,KEN,,1.2,Africa
1,Africa,East Africa,Kenya,2.10,NaN,NaN,2007.0,15-65,Govt,HHS,Cannabis,0.3,4.0,KEN,,2.1,Africa
2,Africa,East Africa,Kenya,7.10,NaN,NaN,2004.0,15-64,"ARQ, NGO, Council of Europe","SS, A",Cannabis,NaN,NaN,KEN,,7.1,Africa
3,Africa,East Africa,Madagascar,9.10,NaN,NaN,2004.0,15-64,ARQ,"SS, A",Cannabis,NaN,NaN,MDG,,9.1,Africa
4,Africa,East Africa,Mauritius,1.08,NaN,NaN,2009.0,15-54,Government source,NaN,Cannabis,NaN,NaN,MUS,,1.08,Africa

In [57]:
df_drogas.to_csv('Datos/Finales/totales_tipos_drogas.csv')

In [59]:
df_drogas[df_drogas['Continent'] == 'Africa'].head()

,Region,Sub-region,Country/Territory,Total,Male,Female,Year,Age,Source,Method,Drug,Low,High,ISO3,stimulant,depressant,Continent
0,Africa,East Africa,Kenya,1.20,2.1,0.3,2016.0,15-64,ARQ,HHS,Cannabis,NaN,NaN,KEN,,1.2,Africa
1,Africa,East Africa,Kenya,2.10,NaN,NaN,2007.0,15-65,Govt,HHS,Cannabis,0.3,4.0,KEN,,2.1,Africa
2,Africa,East Africa,Kenya,7.10,NaN,NaN,2004.0,15-64,"ARQ, NGO, Council of Europe","SS, A",Cannabis,NaN,NaN,KEN,,7.1,Africa
3,Africa,East Africa,Madagascar,9.10,NaN,NaN,2004.0,15-64,ARQ,"SS, A",Cannabis,NaN,NaN,MDG,,9.1,Africa
4,Africa,East Africa,Mauritius,1.08,NaN,NaN,2009.0,15-54,Government source,NaN,Cannabis,NaN,NaN,MUS,,1.08,Africa

In [60]:
df_drogas.describe().T

,count,mean,std,min,25%,50%,75%,max
Total,1986.0,1.927256,3.093226,0.00,0.2525,0.70,2.1000,27.0
Male,897.0,3.144114,4.466668,0.00,0.5000,1.37,3.5000,32.2
Female,887.0,2.109019,4.130902,0.00,0.2000,0.70,2.1000,70.0
Year,1989.0,2011.799397,4.884221,1998.00,2008.0000,2012.00,2016.0000,2020.0
Low,464.0,1.053685,1.965689,0.00,0.1600,0.37,0.9000,19.4
High,464.0,1.808966,2.622326,0.01,0.3900,0.86,1.8325,22.0